Django==1.6.6
decorator==3.4.0
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
fros==1.0
glusterfs-api==3.5.1
gunicorn==19.1.1
iniparse==0.4
psycopg2==2.5.4
pycups==1.9.65
pycurl==7.19.3
pygobject==3.10.2
pygpgme==0.3
pyinotify==0.9.4
pykickstart==1.99.48
pyliblzma==0.5.3
pyparted==3.9
python-augeas==0.4.1
python-meh==0.27
python-nss==0.15.0
pytz==2012d
pyxattr==0.5.1
pyxdg==0.25
rpm-python==4.11.2
virtualenv==1.11.6
wsgiref==0.1.2
