Django==1.6.6
IPy==0.75
SSSDConfig==1.11.6
blivet==0.23.9
chardet==2.0.1
cssselect==0.9.1
cupshelpers==1.0
decorator==3.4.0
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
fros==1.0
glusterfs-api==3.5.1
gunicorn==19.1.1
iniparse==0.4
javapackages==1.0.0
kitchen==1.1.1
langtable==0.0.25
lxml==3.3.5
ntplib==0.3.1
policycoreutils-default-encoding==0.1
psycopg2==2.5.4
pycups==1.9.65
pycurl==7.19.3
pygobject==3.10.2
pygpgme==0.3
pyinotify==0.9.4
pykickstart==1.99.48
pyliblzma==0.5.3
pyparted==3.9
python-augeas==0.4.1
python-meh==0.27
python-nss==0.15.0
pytz==2012d
pyxattr==0.5.1
pyxdg==0.25
rpm-python==4.11.2
seobject==0.1
sepolicy==1.1
setroubleshoot==1.1
six==1.6.1
slip==0.6.0
slip.dbus==0.6.0
static3==0.5.1
urlgrabber==3.10.1
urwid==1.2.2-dev
virtualenv==1.11.6
wsgiref==0.1.2
yum-langpacks==0.4.3
yum-metadata-parser==1.1.4
