<!DOCTYPE html>
<html class="full" lang="fr">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}La Playlist</title>

	 {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/full.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<!-- Navigation -->
	<div class="navbar-inverse navbar-fixed-top">
		<ul class="nav nav-pills playnav">
    	<li><a href="{% url 'main.views.home' %}" class="navbar-brand"><strong>La Playlist</strong></a></li>
		{% for style in types %}
    	<li>
      	<a href="{% url 'main.views.type' style.type %}">{{ style.type }}</a>
      </li>
		{% endfor %}      
		</ul>
	</div>

	<!-- Put your page content here! -->
	<div class="col-lg-10 col-md-10 col-xs-10 col-xs-offset-1 jumbotron">
	{% block content %}
		<h1>Bienvenue sur la Playlist</h1>
		<p>
			Mettre du son pour la playlist des soirées. Negro.<br /><br />
			TRUST THE PLAYLIST
		</p>
	{% endblock %}
	</div>

    <!-- jQuery Version 1.11.0 -->
    <script src="{% static 'js/jquery-1.11.0.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
